html, body {
    text-align: center;
    background-color: #F9F4ED;;
}

p {
    line-height: 2;
}

hr {
     border: dotted #cc6666 6px;
     border-bottom: none;
     width: 4%;
     margin: 100px auto;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #cc6666 ;
    padding: 50px 0 20px;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase; 

}

.btn-primary {
    background-color: #cc6666;
    border-color: #cc6666;
}

.btn-primary:hover {
    background-color: #EAA9A9;
    border-color: #EAA9A9;
    border-width: 4px;
}

.btn-xl {
    padding: 0.5rem 1.5rem;
}

.footer-link {
    color: #F9F4ED;
    text-decoration: none;
}

.footer-link:hover {
    color: #cc6666;
}
.copyright {
    color: #F9F4ED;
    font-size: 0.8rem;
    font-size: 0.75rem;
    margin-top: 20px;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 5px 10px;
    opacity: 0.5;
}

.logo:hover {
    opacity: 1;
}

