html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-color: #F9F4ED;
    color: #444;
}
h1 {
    font-family: "Montserrat", "Helvetica", Arial, sans-serif ;
}

h2{
    font-size: 3em;
    margin: 30px auto;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #cc6666;
    z-index: 1;
}

a:hover, a:active, a:focus, a:focus-visible, a:focus-within {
    color: #EAA9A9;
}


h3, p {
    line-height: 2;
    font-size: 2em;
    font-weight: 500;
}
hr .thick {
    color: #cc6666;
    height: 20px;
}

/* Class Selector in Home Page */
.bio {
    text-align: justify;
}

.top-container {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: max-content;

}

.bottom-container {
    background-color: #cc6666 ;
    padding: 50px 0 20px;
}

/* Button */
.btn {
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase; 

}

.btn-primary {
    background-color: #cc6666;
    border-color: #cc6666;
}

.orange:hover, .orange:focus, .orange:active, .orange:focus-visible{
    background-color: #EAA9A9;
    border-color: #EAA9A9;
    border-width: 4px;
    box-shadow: none !important;
}


.btn-xl {
    padding: 0.5rem 1.5rem;
}

/* Footer */
.footer-link {
    color: #F9F4ED;
    text-decoration: none;
}

.footer-link:hover {
    color: #cc6666;
}
.copyright {
    color: #F9F4ED;
    font-size: 0.8rem;
    font-size: 0.75rem;
    margin-top: 20px;
    margin-bottom: 0;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 5px 10px;
    opacity: 0.5;
}

.logo:hover {
    opacity: 1;
}


.site-guide p {
    text-align:justify;
}

.buffer {
    height: 5em;
}

.name {
    font-size: 4em;
}

.footer-message{
    color:#F9F4ED;
    margin-bottom:20px;
    
}

/* Class Selector in About Page */

.introduction p{
    text-align: justify;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.facts {
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon{
    margin-right: 0.4em;
}

.icon-spinning{
    animation: spin-animation 1s infinite linear;
    display: inline-block;
}

  @keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }